.index-title {
    margin: 20px 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.index-input {
    display: flex;
    width: 680px;
    height: 75px;
    border-radius: 15px;
    background-color: #F5F5F5;
    margin: 30px auto;

    .input-image {
        flex: 1;

        .input-icon {
            margin: 15px 30px;
        }
    }

    .input-text {
        flex: 4.5;

        .input {
            width: 550px;
            height: 75px;
            line-height: normal;
            outline: none;
            font-size: 32px;
        }
    }
}

.index-body {
    position: absolute;
    bottom: 0px;
    width: 750px;
    height: 900px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;

    .body-item {
        position: relative;
        width: 650px;
        height: 280px;
        background-color: white;
        border-radius: 30px;
        margin: 40px 0;

        .item-image {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            width: 220px;
            height: 280px;

            .picture {}
        }

        .item-text {
            position: absolute;
            right: 0;
            width: 430px;
            height: 280px;
            .text-title {
                font-size: 32px;
                font-family: 'Inter';
                font-weight: 600;
                color: #000000;
                margin-top: 60px;
            }
            .text-money {
                color: #EB4F1E;
                margin-top: 10px;
            }
        }
    }
}