.frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 36rpx;
    font-family: 'Inter';
    padding-left: 20rpx;
    padding-top: 10rpx;
    padding-bottom: 10rpx;
    height: 150%;
}

.formItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 684rpx;
    height: 80rpx;
    margin-top: 20rpx;

    &.quantityFormItem {
        justify-content: flex-start;
    }

    .label {
        width: 30%;
        text-align: left;
        font-weight: 1000;
        font-size: 32rpx;
    }

    .inputBox,
    .selector,
    .singleChoice {
        width: 70%;
        text-align: left;
    }

    .inputBox {
        border-width: 2rpx;
        border-color: #D9D9D9;
        border-style: solid;
        border-radius: 20rpx;
        height: 80rpx;
        padding-left: 20rpx;
    }

    .selector {
        font-size: 28rpx;
    }

    .singleChoice {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
            margin-right: 20rpx;
        }
    }

    .quantityContainer {
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: flex-end;

        .quantityButtonLeft {
            display: flex;
            align-items: center;
            box-sizing: content-box;
            width: 60rpx;
            height: 60rpx;
            font-size: 50rpx;
            font-weight: 1000;
            background-color: #ffffff;
            border-radius: 14rpx 0 0 14rpx;
            border-width: 2rpx;
            border-color: #D9D9D9;
            border-style: solid;
            border-right: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .quantityButtonRight {
            display: flex;
            align-items: center;
            box-sizing: content-box;
            width: 60rpx;
            height: 60rpx;
            font-size: 50rpx;
            font-weight: 1000;
            background-color: #ffffff;
            border-radius: 0 14rpx 14rpx 0;
            border-width: 2rpx;
            border-color: #D9D9D9;
            border-style: solid;
            border-left: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .quantityNumber {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 34rpx;
            width: 160rpx;
            height: 60rpx;
            border-width: 2rpx;
            border-color: #D9D9D9;
            border-style: solid;
        }

        button::after {
            border: none;
        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 30rpx;
    box-sizing: border-box;
    position: fixed;
    bottom: 30rpx;
    padding-right: 30rpx;
    width: 100%;
    border-width: 2rpx;
    border-style: solid;
    border-color: #D9D9D9;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 16rpx;
}

button {
    margin: 0;
}

.submitChange {
    display: flex;
    width: 222rpx;
    height: 84rpx;
    border-radius: 42rpx;
    background-color: #EB4F1E;
    color: #ffffff;
    font-size: 26rpx;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cancelOrder {
    display: flex;
    width: 222rpx;
    height: 84rpx;
    border-radius: 42rpx;
    background-color: #B3B3B3;
    color: #ffffff;
    font-size: 26rpx;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-active {
    background-color: #D9D9D9 !important;
}